<ng-template #list>
  @if (locale && !nzFileListRender) {
    <nz-upload-list
      #listComp
      [style.display]="nzShowUploadList ? '' : 'none'"
      [locale]="locale"
      [listType]="nzListType"
      [items]="nzFileList || []"
      [icons]="$any(nzShowUploadList)"
      [iconRender]="nzIconRender"
      [previewFile]="nzPreviewFile"
      [previewIsImage]="nzPreviewIsImage"
      [onPreview]="nzPreview"
      [onRemove]="onRemove"
      [onDownload]="nzDownload"
    />
  }
  @if (nzFileListRender) {
    <ng-container *ngTemplateOutlet="nzFileListRender; context: { $implicit: nzFileList }" />
  }
</ng-template>
<ng-template #con><ng-content /></ng-template>
<ng-template #btn>
  <div [class]="classList()" [class.ant-upload-rtl]="dir() === 'rtl'" [style.display]="nzShowButton ? '' : 'none'">
    <div nz-upload-btn #uploadComp [options]="_btnOptions!">
      <ng-template [ngTemplateOutlet]="con" />
    </div>
  </div>
</ng-template>
@if (nzType === 'drag') {
  <div
    [class]="classList()"
    [class.ant-upload-rtl]="dir() === 'rtl'"
    (drop)="fileDrop($event)"
    (dragover)="fileDrop($event)"
    (dragleave)="fileDrop($event)"
  >
    <div nz-upload-btn #uploadComp [options]="_btnOptions!" class="ant-upload-btn">
      <div class="ant-upload-drag-container">
        <ng-template [ngTemplateOutlet]="con" />
      </div>
    </div>
  </div>
  <ng-template [ngTemplateOutlet]="list" />
} @else {
  @if (nzListType === 'picture-card') {
    <ng-template [ngTemplateOutlet]="list" />
    <ng-template [ngTemplateOutlet]="btn" />
  } @else {
    <ng-template [ngTemplateOutlet]="btn" />
    <ng-template [ngTemplateOutlet]="list" />
  }
}
