@import "../../style/themes/default";

.@{ant-prefix}-cascader {
  display: block;
}

//
.@{ant-prefix}-cascader-menus {
  top: 100%;
  left: 0;
  position: relative;
  width: 100%;
  margin-top: 4px;
  margin-bottom: 4px;
}
