<ul
  #dropdownUl
  class="ant-select-dropdown-menu ant-select-dropdown-menu-root ant-select-dropdown-menu-vertical"
  role="menu"
  (keydown)="onKeyDownUl($event)"
  (scroll)="dropDownScroll($event,dropdownUl)"
  tabindex="0">
  <li
    *ngIf="isNotFoundDisplay"
    nz-select-unselectable
    class="ant-select-dropdown-menu-item ant-select-dropdown-menu-item-disabled">
    {{ nzNotFoundContent ? nzNotFoundContent : ('Select.notFoundContent' | nzI18n) }}
  </li>
  <li
    *ngIf="isAddTagOptionDisplay"
    nz-select-unselectable
    (click)="addTagOption()"
    class="ant-select-dropdown-menu-item ant-select-dropdown-menu-item-active">
    {{ nzSearchValue }}
  </li>
  <li
    nz-option-li
    [nzMode]="nzMode"
    [compareWith]="compareWith"
    *ngFor="let option of listOfNzOptionComponent | nzFilterOptionPipe : nzSearchValue : nzFilterOption : nzServerSearch "
    (click)="clickOption(option,false)"
    [nzActiveOption]="activatedOption"
    [nzOption]="option"
    [nzListOfSelectedValue]="nzListOfSelectedValue">
  </li>
  <li
    *ngFor="let group of listOfNzOptionGroupComponent | nzSubFilterOptionPipe : nzSearchValue : nzFilterOption : nzServerSearch"
    class="ant-select-dropdown-menu-item-group">
    <div
      class="ant-select-dropdown-menu-item-group-title"
      [attr.title]="group.isLabelString ? group.nzLabel : ''">
      <ng-container *ngIf="group.isLabelString; else labelTemplate">{{ group.nzLabel }}</ng-container>
      <ng-template #labelTemplate>
        <ng-template [ngTemplateOutlet]="group.nzLabel"></ng-template>
      </ng-template>
    </div>
    <ul class="ant-select-dropdown-menu-item-group-list">
      <li
        nz-option-li
        [nzMode]="nzMode"
        [compareWith]="compareWith"
        *ngFor="let option of group.listOfNzOptionComponent | nzFilterOptionPipe : nzSearchValue : nzFilterOption : nzServerSearch"
        (click)="clickOption(option,false)"
        [nzActiveOption]="activatedOption"
        [nzShowActive]="!isAddTagOptionDisplay"
        [nzOption]="option"
        [nzListOfSelectedValue]="nzListOfSelectedValue">
      </li>
    </ul>
  </li>
  <li
    nz-option-li
    [nzMode]="nzMode"
    [compareWith]="compareWith"
    *ngFor="let option of listOfTagOption | nzFilterOptionPipe : nzSearchValue : nzFilterOption : nzServerSearch "
    (click)="clickOption(option,false)"
    [nzActiveOption]="activatedOption"
    [nzShowActive]="!isAddTagOptionDisplay"
    [nzOption]="option"
    [nzListOfSelectedValue]="nzListOfSelectedValue">
  </li>
</ul>