<div 
  class="ant-tabs-bar"
  nz-tabs-nav
  role="tablist"
  tabindex="0"
  [nzType]="nzType"
  [nzShowPagination]="nzShowPagination"
  [nzPositionMode]="tabPositionMode"
  [nzAnimated]="inkBarAnimated"
  [ngStyle]="nzTabBarStyle"
  [nzHideBar]="nzHideAll"
  [nzTabBarExtraContent]="nzTabBarExtraContent"
  [selectedIndex]="nzSelectedIndex"
  (nzOnNextClick)="nzOnNextClick.emit()"
  (nzOnPrevClick)="nzOnPrevClick.emit()">
  <div
    nz-tab-label
    role="tab"
    [style.margin-right.px]="nzTabBarGutter"
    [class.ant-tabs-tab-active]="(nzSelectedIndex == i) && !nzHideAll"
    [disabled]="tab.nzDisabled"
    (click)="clickLabel(i,tab.nzDisabled)"
    *ngFor="let tab of listOfNzTabComponent; let i = index">
    <ng-container *ngIf="tab.isTitleString; else titleTemplate">{{ tab.nzTitle }}</ng-container>
    <ng-template #titleTemplate>
      <ng-template [ngTemplateOutlet]="tab.nzTitle"></ng-template>
    </ng-template>
  </div>
</div>
<div
  class="ant-tabs-content"
  #tabContent
  [class.ant-tabs-content-animated]="tabPaneAnimated"
  [class.ant-tabs-content-no-animated]="!tabPaneAnimated"
  [style.margin-left.%]="tabPaneAnimated&&(-nzSelectedIndex*100)">
  <div nz-tab-body
    class="ant-tabs-tabpane"
    [class.ant-tabs-tabpane-active]="(nzSelectedIndex == i) && !nzHideAll"
    [class.ant-tabs-tabpane-inactive]="(nzSelectedIndex != i) || nzHideAll"
    [content]="tab.content"
    *ngFor="let tab of listOfNzTabComponent; let i = index">
  </div>
</div>