nz-carousel {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  .slick-track {
    transition: all 0.5s ease;
    .slick-slide{
      transition: opacity 500ms ease;
    }
  }
}
