nz-transfer {
	display: block;
}

nz-transfer-list {
	.ant-checkbox-wrapper {
		margin-right: 0 !important;
	}
}

.ant-transfer__nodata {
	.ant-transfer-list-content {
		display: none;
	}
	.ant-transfer-list-body-not-found {
		display: block;
	}
}
