<ng-template #defaultIndicatorTemplate>
  <span
    class="ant-spin-dot"
    [class.ant-spin-dot-spin]="resultSpinning$|async">
    <i></i><i></i><i></i><i></i>
  </span>
</ng-template>
<div #nestedElement>
  <div [hidden]="!(resultSpinning$|async)">
    <div
      class="ant-spin"
      [class.ant-spin-spinning]="resultSpinning$|async"
      [class.ant-spin-lg]="nzSize=='large'"
      [class.ant-spin-sm]="nzSize=='small'"
      [class.ant-spin-show-text]="nzTip">
      <ng-template [ngTemplateOutlet]="nzIndicator||defaultIndicatorTemplate"></ng-template>
      <div class="ant-spin-text" *ngIf="nzTip">{{ nzTip }}</div>
    </div>
  </div>
  <div
    #containerElement
    class="ant-spin-container"
    [class.ant-spin-blur]="resultSpinning$|async"
    (cdkObserveContent)="checkNested()">
    <ng-content></ng-content>
  </div>
</div>