.example {
  text-align: center;
  background: rgba(0,0,0,0.05);
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 30px 50px;
  margin: 20px 0;
}
[id^="components-spin-demo-size"] .ant-spin {
  margin-right: 16px;
}
