.ant-cascader-dropdown {
  padding: 0;

  &.ant-select-dropdown {
    position: relative;
    top: 0;
    left: 0;
  }
}

.ant-cascader-menus {
  position: relative;
  margin-top: 2px;
  margin-bottom: 2px;
}
