<nz-code-box
  nzTitle="{{title}}"
  nzVersion="{{version}}"
  nzId="components-{{component}}-demo-{{key}}"
  nzSelector="nz-demo-{{component}}-{{key}}"
  nzLink="components-{{component}}-demo-{{key}}"
  nzGenerateCommand="{{nzGenerateCommand}}"
  nzComponentName="{{componentName}}"
  [nzIframe]="{{iframe}}"
  nzIframeSource="{{iframeSource}}"
  [nzIframeHeight]="{{iframeHeight}}"
  nzHref="https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/{{component}}/demo/{{key}}.md"
>
	<nz-demo-{{component}}-{{key}} demo></nz-demo-{{component}}-{{key}}>
	<div intro ngNonBindable>{{doc}}</div>
</nz-code-box>