@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(../../assets/fonts/Lato/Lato-Light.ttf) format('truetype'), url(../../assets/fonts/Lato/Lato-Light.woff) format('woff'), url(../../assets/fonts/Lato/Lato-Light.woff2) format('woff2');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url(../../assets/fonts/Lato/Lato-Regular.eot);
  src: local('Lato Regular'), local('Lato-Regular'), local('Lato'), url(../../assets/fonts/Lato/Lato-Regular.ttf) format('truetype'), url(../../assets/fonts/Lato/Lato-Regular.woff) format('woff'), url(../../assets/fonts/Lato/Lato-Regular.svg#Lato) format('svg'), url(../../assets/fonts/Lato/Lato-Regular.eot?#iefix) format('embedded-opentype'), url(../../assets/fonts/Lato/Lato-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: local('Lato Black'), local('Lato-Black'), url(../../assets/fonts/Lato/Lato-Black.ttf) format('truetype'), url(../../assets/fonts/Lato/Lato-Black.woff) format('woff'), url(../../assets/fonts/Lato/Lato-Black.woff2) format('woff2');
}

