@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  src: local('Raleway Light'), local('Raleway-Light'), url(../../assets/fonts/Raleway/Raleway-Light.woff) format('woff'), url(../../assets/fonts/Raleway/Raleway-Light.woff2) format('woff2'), url(../../assets/fonts/Raleway/Raleway-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url(../../assets/fonts/Raleway/Raleway.eot);
  src: local('Raleway'), local('Raleway-Regular'), url(../../assets/fonts/Raleway/Raleway.woff) format('woff'), url(../../assets/fonts/Raleway/Raleway.svg#Raleway) format('svg'), url(../../assets/fonts/Raleway/Raleway.woff2) format('woff2'), url(../../assets/fonts/Raleway/Raleway.eot?#iefix) format('embedded-opentype'), url(../../assets/fonts/Raleway/Raleway.ttf) format('truetype');
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  src: local('Raleway SemiBold'), local('Raleway-SemiBold'), url(../../assets/fonts/Raleway/Raleway-SemiBold.woff) format('woff'), url(../../assets/fonts/Raleway/Raleway-SemiBold.woff2) format('woff2'), url(../../assets/fonts/Raleway/Raleway-SemiBold.ttf) format('truetype');
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 900;
  src: local('Raleway Black'), local('Raleway-Black'), url(../../assets/fonts/Raleway/Raleway-Black.woff) format('woff'), url(../../assets/fonts/Raleway/Raleway-Black.woff2) format('woff2'), url(../../assets/fonts/Raleway/Raleway-Black.ttf) format('truetype');
}

