@import "./index";
.@{breadcrumb-prefix-cls} {
  display: block;
  & > nz-breadcrumb-item:last-child {
    font-weight: bold;
    color: @text-color;
  }

  & > nz-breadcrumb-item:last-child &-separator {
    display: none;
  }
}
