<div
  nz-picker
  [isRange]="isRange"
  [open]="nzOpen"
  [separator]="nzSeparator"
  [disabled]="nzDisabled"
  [format]="nzFormat"
  [allowClear]="nzAllowClear"
  [autoFocus]="nzAutoFocus"
  [placeholder]="nzPlaceHolder"
  [ngClass]="nzClassName"
  [style]="nzStyle"
  [noAnimation]="noAnimation?.nzNoAnimation"
  (openChange)="onOpenChange($event)"
  (focusChange)="onFocusChange($event)"
>
  <date-range-popup
    *ngIf="realOpenState"
    [isRange]="isRange"
    [defaultPickerValue]="nzDefaultPickerValue"
    [showWeek]="showWeek"
    [panelMode]="nzMode"
    (panelModeChange)="onPanelModeChange($event)"
    (calendarChange)="onCalendarChange($event)"
    [locale]="nzLocale?.lang"
    [showToday]="realShowToday"
    [showTime]="nzShowTime"
    [format]="nzFormat"
    [dateRender]="nzDateRender"
    [disabledDate]="nzDisabledDate"
    [disabledTime]="nzDisabledTime"
    [placeholder]="nzPlaceHolder"
    [dropdownClassName]="nzDropdownClassName"
    [popupStyle]="nzPopupStyle"
    [extraFooter]="extraFooter"
    [ranges]="nzRanges"
    (resultOk)="onResultOk()"
  ></date-range-popup>
</div>
