<div class="ant-message-notice"
  [@enterLeave]="nzMessage.state"
  (mouseenter)="onEnter()"
  (mouseleave)="onLeave()">
  <div class="ant-message-notice-content">
    <div class="ant-message-custom-content" [ngClass]="'ant-message-' + nzMessage.type">
      <ng-container [ngSwitch]="nzMessage.type">
        <i *ngSwitchCase="'success'" nz-icon type="check-circle"></i>
        <i *ngSwitchCase="'info'"  nz-icon type="info-circle"></i>
        <i *ngSwitchCase="'warning'" nz-icon type="exclamation-circle"></i>
        <i *ngSwitchCase="'error'" nz-icon type="close-circle"></i>
        <i *ngSwitchCase="'loading'" nz-icon type="loading"></i>
      </ng-container>
      <span [innerHTML]="nzMessage.content"></span>
    </div>
  </div>
</div>