<div class="ant-message-notice"
  [@moveUpMotion]="nzMessage.state"
  (mouseenter)="onEnter()"
  (mouseleave)="onLeave()">
  <div class="ant-message-notice-content">
    <div class="ant-message-custom-content" [ngClass]="'ant-message-' + nzMessage.type">
      <ng-container [ngSwitch]="nzMessage.type">
        <i *ngSwitchCase="'success'" nz-icon nzType="check-circle"></i>
        <i *ngSwitchCase="'info'"  nz-icon nzType="info-circle"></i>
        <i *ngSwitchCase="'warning'" nz-icon nzType="exclamation-circle"></i>
        <i *ngSwitchCase="'error'" nz-icon nzType="close-circle"></i>
        <i *ngSwitchCase="'loading'" nz-icon nzType="loading"></i>
      </ng-container>
      <ng-container *nzStringTemplateOutlet="nzMessage.content">
        <span [innerHTML]="nzMessage.content"></span>
      </ng-container>
    </div>
  </div>
</div>
