sudo: required
dist: trusty
language: node_js
node_js:
  - '10.9.0'

env:
  - TASK=pre-release
  - TASK=test
  - TASK=lint
  - TASK=integration-cli
  - TASK=integration-webpack
  - TASK=integration-rollup
addons:
apt:
  sources:
    - google-chrome
  packages:
    - google-chrome-stable
    - google-chrome-beta

before_install:
  - export CHROME_BIN=chromium-browser
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start

before_script:
  - npm install -g @angular/cli
  - npm install -g karma

script:
  - npm run $TASK
  - |
    if [ "$TASK" = "test" ]; then
      cat ./coverage/lcov.info | ./node_modules/.bin/codecov
    fi
