nz-spin {
  display: block;
}

.@{spin-prefix-cls} {
  // small
  &-sm &-dot {
    span {
      width: 6px;
      height: 6px;
    }
  }

  // large
  &-lg &-dot {
    span {
      width: 14px;
      height: 14px;
    }
  }
}
