<div class="ant-table ant-table-large ant-table-fixed-header ant-table-scroll-position-middle">
  <div class="ant-table-content">
    <div class="ant-table-scroll">
      <div class="ant-table-header" style="margin-bottom: -15px; padding-bottom: 0px;">
        <table class="ant-table-fixed" style="width: 1500px;">
          <colgroup>
            <col style="width: 100px; min-width: 100px;">
            <col style="width: 100px; min-width: 100px;">
            <col style="width: 150px; min-width: 150px;">
            <col style="width: 150px; min-width: 150px;">
            <col style="width: 150px; min-width: 150px;">
            <col style="width: 150px; min-width: 150px;">
            <col style="width: 150px; min-width: 150px;">
            <col style="width: 150px; min-width: 150px;">
            <col style="width: 150px; min-width: 150px;">
            <col>
            <col style="width: 100px; min-width: 100px;">
          </colgroup>
          <thead class="ant-table-thead">
            <tr style="height: 54px;">
              <th class=""><span>Full Name</span></th>
              <th class=""><span>Age</span></th>
              <th class=""><span>Column 1</span></th>
              <th class=""><span>Column 2</span></th>
              <th class=""><span>Column 3</span></th>
              <th class=""><span>Column 4</span></th>
              <th class=""><span>Column 5</span></th>
              <th class=""><span>Column 6</span></th>
              <th class=""><span>Column 7</span></th>
              <th class=""><span>Column 8</span></th>
              <th class=""><span>Action</span></th>
            </tr>
          </thead>
        </table>
      </div>
      <div class="ant-table-body" style="overflow-x: auto; max-height: 300px; overflow-y: scroll;">
        <table class="ant-table-fixed" style="width: 1500px;">
          <colgroup>
            <col style="width: 100px; min-width: 100px;">
            <col style="width: 100px; min-width: 100px;">
            <col style="width: 150px; min-width: 150px;">
            <col style="width: 150px; min-width: 150px;">
            <col style="width: 150px; min-width: 150px;">
            <col style="width: 150px; min-width: 150px;">
            <col style="width: 150px; min-width: 150px;">
            <col style="width: 150px; min-width: 150px;">
            <col style="width: 150px; min-width: 150px;">
            <col>
            <col style="width: 100px; min-width: 100px;">
          </colgroup>
          <tbody class="ant-table-tbody">
            <tr class="ant-table-row  ant-table-row-level-0">
              <td class=""><span class="ant-table-row-indent indent-level-0" style="padding-left: 0px;"></span>Edrward 0
              </td>
              <td class="">32</td>
              <td class="">London Park no. 0</td>
              <td class="">London Park no. 0</td>
              <td class="">London Park no. 0</td>
              <td class="">London Park no. 0</td>
              <td class="">London Park no. 0</td>
              <td class="">London Park no. 0</td>
              <td class="">London Park no. 0</td>
              <td class="">London Park no. 0</td>
              <td class="">
                <a href="#">action</a>
              </td>
            </tr>
            <tr class="ant-table-row  ant-table-row-level-0">
              <td class=""><span class="ant-table-row-indent indent-level-0" style="padding-left: 0px;"></span>Edrward 1
              </td>
              <td class="">32</td>
              <td class="">London Park no. 1</td>
              <td class="">London Park no. 1</td>
              <td class="">London Park no. 1</td>
              <td class="">London Park no. 1</td>
              <td class="">London Park no. 1</td>
              <td class="">London Park no. 1</td>
              <td class="">London Park no. 1</td>
              <td class="">London Park no. 1</td>
              <td class="">
                <a href="#">action</a>
              </td>
            </tr>
            <tr class="ant-table-row  ant-table-row-level-0">
              <td class=""><span class="ant-table-row-indent indent-level-0" style="padding-left: 0px;"></span>Edrward 2
              </td>
              <td class="">32</td>
              <td class="">London Park no. 2</td>
              <td class="">London Park no. 2</td>
              <td class="">London Park no. 2</td>
              <td class="">London Park no. 2</td>
              <td class="">London Park no. 2</td>
              <td class="">London Park no. 2</td>
              <td class="">London Park no. 2</td>
              <td class="">London Park no. 2</td>
              <td class="">
                <a href="#">action</a>
              </td>
            </tr>
            <tr class="ant-table-row  ant-table-row-level-0">
              <td class=""><span class="ant-table-row-indent indent-level-0" style="padding-left: 0px;"></span>Edrward 3
              </td>
              <td class="">32</td>
              <td class="">London Park no. 3</td>
              <td class="">London Park no. 3</td>
              <td class="">London Park no. 3</td>
              <td class="">London Park no. 3</td>
              <td class="">London Park no. 3</td>
              <td class="">London Park no. 3</td>
              <td class="">London Park no. 3</td>
              <td class="">London Park no. 3</td>
              <td class="">
                <a href="#">action</a>
              </td>
            </tr>
            <tr class="ant-table-row  ant-table-row-level-0">
              <td class=""><span class="ant-table-row-indent indent-level-0" style="padding-left: 0px;"></span>Edrward 4
              </td>
              <td class="">32</td>
              <td class="">London Park no. 4</td>
              <td class="">London Park no. 4</td>
              <td class="">London Park no. 4</td>
              <td class="">London Park no. 4</td>
              <td class="">London Park no. 4</td>
              <td class="">London Park no. 4</td>
              <td class="">London Park no. 4</td>
              <td class="">London Park no. 4</td>
              <td class="">
                <a href="#">action</a>
              </td>
            </tr>
            <tr class="ant-table-row  ant-table-row-level-0">
              <td class=""><span class="ant-table-row-indent indent-level-0" style="padding-left: 0px;"></span>Edrward 5
              </td>
              <td class="">32</td>
              <td class="">London Park no. 5</td>
              <td class="">London Park no. 5</td>
              <td class="">London Park no. 5</td>
              <td class="">London Park no. 5</td>
              <td class="">London Park no. 5</td>
              <td class="">London Park no. 5</td>
              <td class="">London Park no. 5</td>
              <td class="">London Park no. 5</td>
              <td class="">
                <a href="#">action</a>
              </td>
            </tr>
            <tr class="ant-table-row  ant-table-row-level-0">
              <td class=""><span class="ant-table-row-indent indent-level-0" style="padding-left: 0px;"></span>Edrward 6
              </td>
              <td class="">32</td>
              <td class="">London Park no. 6</td>
              <td class="">London Park no. 6</td>
              <td class="">London Park no. 6</td>
              <td class="">London Park no. 6</td>
              <td class="">London Park no. 6</td>
              <td class="">London Park no. 6</td>
              <td class="">London Park no. 6</td>
              <td class="">London Park no. 6</td>
              <td class="">
                <a href="#">action</a>
              </td>
            </tr>
            <tr class="ant-table-row  ant-table-row-level-0">
              <td class=""><span class="ant-table-row-indent indent-level-0" style="padding-left: 0px;"></span>Edrward 7
              </td>
              <td class="">32</td>
              <td class="">London Park no. 7</td>
              <td class="">London Park no. 7</td>
              <td class="">London Park no. 7</td>
              <td class="">London Park no. 7</td>
              <td class="">London Park no. 7</td>
              <td class="">London Park no. 7</td>
              <td class="">London Park no. 7</td>
              <td class="">London Park no. 7</td>
              <td class="">
                <a href="#">action</a>
              </td>
            </tr>
            <tr class="ant-table-row  ant-table-row-level-0">
              <td class=""><span class="ant-table-row-indent indent-level-0" style="padding-left: 0px;"></span>Edrward 8
              </td>
              <td class="">32</td>
              <td class="">London Park no. 8</td>
              <td class="">London Park no. 8</td>
              <td class="">London Park no. 8</td>
              <td class="">London Park no. 8</td>
              <td class="">London Park no. 8</td>
              <td class="">London Park no. 8</td>
              <td class="">London Park no. 8</td>
              <td class="">London Park no. 8</td>
              <td class="">
                <a href="#">action</a>
              </td>
            </tr>
            <tr class="ant-table-row  ant-table-row-level-0">
              <td class=""><span class="ant-table-row-indent indent-level-0" style="padding-left: 0px;"></span>Edrward 9
              </td>
              <td class="">32</td>
              <td class="">London Park no. 9</td>
              <td class="">London Park no. 9</td>
              <td class="">London Park no. 9</td>
              <td class="">London Park no. 9</td>
              <td class="">London Park no. 9</td>
              <td class="">London Park no. 9</td>
              <td class="">London Park no. 9</td>
              <td class="">London Park no. 9</td>
              <td class="">
                <a href="#">action</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="ant-table-fixed-left">
      <div class="ant-table-header">
        <table class="ant-table-fixed">
          <colgroup>
            <col style="width: 100px; min-width: 100px;">
            <col style="width: 100px; min-width: 100px;">
          </colgroup>
          <thead class="ant-table-thead">
            <tr style="height: 54px;">
              <th class=""><span>Full Name</span></th>
              <th class=""><span>Age</span></th>
            </tr>
          </thead>
        </table>
      </div>
      <div class="ant-table-body-outer" style="margin-bottom: -15px; padding-bottom: 0px;">
        <div class="ant-table-body-inner" style="max-height: 300px; overflow-y: scroll;">
          <table class="ant-table-fixed">
            <colgroup>
              <col style="width: 100px; min-width: 100px;">
              <col style="width: 100px; min-width: 100px;">
            </colgroup>
            <tbody class="ant-table-tbody">
              <tr class="ant-table-row  ant-table-row-level-0" style="height: 75px;">
                <td class="">
                  <span class="ant-table-row-indent indent-level-0" style="padding-left: 0px;"></span>Edrward 0
                </td>
                <td class="">32</td>
              </tr>
              <tr class="ant-table-row  ant-table-row-level-0" style="height: 75px;">
                <td class="">
                  <span class="ant-table-row-indent indent-level-0" style="padding-left: 0px;"></span>Edrward 1
                </td>
                <td class="">32</td>
              </tr>
              <tr class="ant-table-row  ant-table-row-level-0" style="height: 75px;">
                <td class="">
                  <span class="ant-table-row-indent indent-level-0" style="padding-left: 0px;"></span>Edrward 2
                </td>
                <td class="">32</td>
              </tr>
              <tr class="ant-table-row  ant-table-row-level-0" style="height: 75px;">
                <td class="">
                  <span class="ant-table-row-indent indent-level-0" style="padding-left: 0px;"></span>Edrward 3
                </td>
                <td class="">32</td>
              </tr>
              <tr class="ant-table-row  ant-table-row-level-0" style="height: 75px;">
                <td class="">
                  <span class="ant-table-row-indent indent-level-0" style="padding-left: 0px;"></span>Edrward 4
                </td>
                <td class="">32</td>
              </tr>
              <tr class="ant-table-row  ant-table-row-level-0" style="height: 75px;">
                <td class="">
                  <span class="ant-table-row-indent indent-level-0" style="padding-left: 0px;"></span>Edrward 5
                </td>
                <td class="">32</td>
              </tr>
              <tr class="ant-table-row  ant-table-row-level-0" style="height: 75px;">
                <td class="">
                  <span class="ant-table-row-indent indent-level-0" style="padding-left: 0px;"></span>Edrward 6
                </td>
                <td class="">32</td>
              </tr>
              <tr class="ant-table-row  ant-table-row-level-0" style="height: 75px;">
                <td class="">
                  <span class="ant-table-row-indent indent-level-0" style="padding-left: 0px;"></span>Edrward 7
                </td>
                <td class="">32</td>
              </tr>
              <tr class="ant-table-row  ant-table-row-level-0" style="height: 75px;">
                <td class="">
                  <span class="ant-table-row-indent indent-level-0" style="padding-left: 0px;"></span>Edrward 8
                </td>
                <td class="">32</td>
              </tr>
              <tr class="ant-table-row  ant-table-row-level-0" style="height: 75px;">
                <td class="">
                  <span class="ant-table-row-indent indent-level-0" style="padding-left: 0px;"></span>Edrward 9
                </td>
                <td class="">32</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="ant-table-fixed-right">
      <div class="ant-table-header">
        <table class="ant-table-fixed">
          <colgroup>
            <col style="width: 100px; min-width: 100px;">
          </colgroup>
          <thead class="ant-table-thead">
            <tr style="height: 54px;">
              <th class=""><span>Action</span></th>
            </tr>
          </thead>
        </table>
      </div>
      <div class="ant-table-body-outer" style="margin-bottom: -15px; padding-bottom: 0px;">
        <div class="ant-table-body-inner" style="max-height: 300px; overflow-y: scroll;">
          <table class="ant-table-fixed">
            <colgroup>
              <col style="width: 100px; min-width: 100px;">
            </colgroup>
            <tbody class="ant-table-tbody">
              <tr class="ant-table-row  ant-table-row-level-0" style="height: 75px;">
                <td class="">
                  <a href="#">action</a>
                </td>
              </tr>
              <tr class="ant-table-row  ant-table-row-level-0" style="height: 75px;">
                <td class="">
                  <a href="#">action</a>
                </td>
              </tr>
              <tr class="ant-table-row  ant-table-row-level-0" style="height: 75px;">
                <td class="">
                  <a href="#">action</a>
                </td>
              </tr>
              <tr class="ant-table-row  ant-table-row-level-0" style="height: 75px;">
                <td class="">
                  <a href="#">action</a>
                </td>
              </tr>
              <tr class="ant-table-row  ant-table-row-level-0" style="height: 75px;">
                <td class="">
                  <a href="#">action</a>
                </td>
              </tr>
              <tr class="ant-table-row  ant-table-row-level-0" style="height: 75px;">
                <td class="">
                  <a href="#">action</a>
                </td>
              </tr>
              <tr class="ant-table-row  ant-table-row-level-0" style="height: 75px;">
                <td class="">
                  <a href="#">action</a>
                </td>
              </tr>
              <tr class="ant-table-row  ant-table-row-level-0" style="height: 75px;">
                <td class="">
                  <a href="#">action</a>
                </td>
              </tr>
              <tr class="ant-table-row  ant-table-row-level-0" style="height: 75px;">
                <td class="">
                  <a href="#">action</a>
                </td>
              </tr>
              <tr class="ant-table-row  ant-table-row-level-0" style="height: 75px;">
                <td class="">
                  <a href="#">action</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>