<article>
  <section class="markdown">
    <h1>Locale 国际化</h1>
    <section class="markdown">
      <nz-markdown [nzContent]="markdownContent"></nz-markdown>
    </section>
    <h2>
      代码演示
      <!-- <i class="code-box-expand-trigger anticon anticon-appstore" title="展开全部代码"></i> -->
    </h2>
  </section>
  <div nz-row [nzGutter]="8">
    <!--
    <div nz-col [nzSpan]="24">
      <nz-code-box [nzTitle]="'国际化'" id="other-locale-demo-basic" [nzCode]="NzDemoLocaleBasicCode">
        <nz-demo-locale-basic demo></nz-demo-locale-basic>
        <div intro>
          <p>引用对应的语言包，并将 <code>NZ_LOCALE</code> 配置到根模块的提供商中（注：这里为了演示方便，直接在将 NZ_LOCALE 配置在了组件的提供商列表中）。</p>
        </div>
      </nz-code-box>
    </div>
    -->
    <div nz-col [nzSpan]="24">
      <nz-code-box [nzTitle]="'所有组件'" id="other-locale-demo-all" [nzCode]="NzDemoLocaleAllCode">
        <nz-demo-locale-all demo></nz-demo-locale-all>
        <div intro>
          <p>此处列出 Ng-Zorro 中需要国际化支持的组件，你可以在演示里切换语言。涉及时间的组件请注意时区设置。</p>
        </div>
      </nz-code-box>
    </div>
  </div>
</article>
