<article>
  <section class = "markdown">
    <h1> Locale International </h1>
    <section class = "markdown">
      <nz-markdown [nzContent] = "markdownContent"> </nz-markdown>
    </section>
    <h2>
      Code demo
      <!--<! - <i class="code-box-expand-trigger anticon anticon-appstore" title = "Expand All Code"> </i> ->-->
    </h2>
  </section>
  <div nz-row [nzGutter] = "8">

    <div nz-col [nzSpan] = "24">
      <nz-code-box [nzTitle] = "'Internationalization'" id = "other-locale-demo-basic" [nzCode] = "NzDemoLocaleBasicCode">
        <!--<nz-demo-locale-basic demo> </nz-demo-locale-basic>-->
        <div intro>
          <p> Reference the corresponding language pack and configure <code> NZ_LOCALE </code> to the root module provider (Note: NZ_LOCALE is configured directly in the component provider list here for the sake of illustration). </p>
        </div>
      </nz-code-box>
    </div>
    ->
    <div nz-col [nzSpan] = "24">
      <nz-code-box [nzTitle] = "'All Components'" id = "other-locale-demo-all" [nzCode] = "NzDemoLocaleAllCode">
        <nz-demo-locale-all demo> </nz-demo-locale-all>
        <div intro>
          <p> Here are the components in Ng-Zorro that require international support, and you can switch languages ​​in the demo. Time-related components, please note the time zone settings. </p>
        </div>
      </nz-code-box>
    </div>
  </div>
</article>


