@import "../../style/themes/default";
@import "../../style/mixins/index";

@upload-prefix-cls: ~"@{ant-prefix}-upload";
@basic-upload-prefix-cls: ~"@{ant-prefix}-upload-basic";

.@{basic-upload-prefix-cls}{
    font-size: @font-size-base;
    outline: 0;
    input {
        display: none;
    }
}
