.ant-menu-submenu.ant-menu-submenu-placement-bottom {
  position: relative;
  top: 6px;
}

.ant-menu-submenu.ant-menu-submenu-placement-right {
  position: relative;
  inset-inline-start: 4px;
}

.ant-menu-submenu.ant-menu-submenu-placement-left {
  position: relative;
  inset-inline-end: 4px;
}
