.ant-menu-submenu.ant-menu-submenu-placement-bottom {
  top: 6px;
  position: relative;
}

.ant-menu-submenu.ant-menu-submenu-placement-right {
  left: 4px;
  position: relative;

  &.ant-menu-submenu-rtl {
    left: auto;
    right: 4px;
  }
}

.ant-menu-submenu.ant-menu-submenu-placement-left {
  right: 4px;
  position: relative;

  &.ant-menu-submenu-rtl {
    right: auto;
    left: 4px;
  }
}

.ant-menu-item-group {
  display: block;
}

.ant-menu-submenu-title:active {
  background-color: transparent;
}

.ant-menu-submenu .ant-menu-sub, .ant-menu-item, .ant-menu-item-group-title, .ant-menu-submenu-title {
  transition: none;
}

.ant-menu-submenu-popup {
  display: block;
  position: relative;
}

.ant-menu-root{
  display: block;
}

.ant-menu-vertical > .ant-menu-item, .ant-menu-submenu {
  display: list-item;
}