@import "../../style/themes/default";

@steps-prefix-cls: ~"@{ant-prefix}-steps";

.ant-steps-horizontal nz-step:not(:first-child) .ant-steps-head{
  padding-left: 10px;
  margin-left: -10px;
}
nz-step{
  display: block;
}

.@{steps-prefix-cls}-dot {
  &.@{steps-prefix-cls}-vertical {
    .@{steps-prefix-cls}-tail {
      margin-left: 0;
    }
    .@{steps-prefix-cls}-step {
      text-align: left;
      width: auto;
    }
    .@{steps-prefix-cls}-head-inner {
      margin-right: 16px;
    }
    .@{steps-prefix-cls}-main {
      margin-top: 0;
    }
  }
}
