nz-carousel {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slick-dots {
  display: block;
}

.slick-track {
  opacity: 1;
}

.slick-list {
  direction: ltr;
}

.@{carousel-prefix-cls} {
  .slick-prev {
    inset-inline-start: 8px;

    &::after {
      transform: rotate(-45deg);
    }
  }

  .slick-next {
    inset-inline-end: 8px;

    &::after {
      transform: rotate(135deg);
    }
  }

  .slick-prev,
  .slick-next {
    position: absolute;
    top: 50%;
    z-index: 1;
    width: 16px;
    height: 16px;
    padding: 0;
    color: #fff;
    line-height: 0;
    background: transparent;
    border: 0;
    outline: none;
    transform: translateY(-50%);
    cursor: pointer;
    opacity: 0.4;
    transition: opacity 0.3s;

    &.slick-disabled {
      opacity: 0;
      pointer-events: none;
    }

    &:hover {
      opacity: 1;
    }

    &::after {
      position: absolute;
      top: calc((16px - calc(16px / 1.41421356)) / 2);
      display: inline-block;
      box-sizing: border-box;
      width: calc(16px / 1.41421356);
      height: calc(16px / 1.41421356);
      border: 0 solid currentcolor;
      border-radius: 1px;
      content: '';
      inset-inline-start: calc((16px - calc(16px / 1.41421356)) / 2);
      border-inline-width: 2px 0;
      border-block-width: 2px 0;
    }
  }

  .slick-vertical {
    .slick-prev {
      inset-block-start: 8px;
      inset-inline-start: 50%;

      &::after {
        transform: rotate(45deg);
      }
    }

    .slick-next {
      inset-block-start: auto;
      inset-block-end: 8px;

      &::after {
        transform: rotate(-135deg);
      }
    }

    .slick-prev,
    .slick-next {
      inset-inline-start: 50%;
      margin-block-start: unset;
      transform: translateX(-50%);
    }
  }
}
