.ant-dropdown-menu {
  & > ul {
    margin: 0;
    padding: 0;
    list-style: inherit;
  }
}

.ant-dropdown {
  position: relative;
  inset: 0;

  &:not(:has(.ant-dropdown-arrow)) {
    margin-block: calc(@popover-distance - @popover-arrow-width / 2)
  }
}
