<ul
  role="tree"
  unselectable="on"
  [ngClass]="classMap">
  <ng-container *ngFor="let node of nzNodes">
    <nz-tree-node
      [nzTreeNode]="node"
      [nzSelectMode]="nzSelectMode"
      [nzShowLine]="nzShowLine"
      [nzExpandedIcon]="nzExpandedIcon"
      [nzDraggable]="nzDraggable"
      [nzCheckable]="nzCheckable"
      [nzShowExpand]="nzShowExpand"
      [nzAsyncData]="nzAsyncData"
      [nzSearchValue]="nzSearchValue"
      [nzHideUnMatched]="nzHideUnMatched"
      [nzBeforeDrop]="nzBeforeDrop"
      [nzExpandAll]="nzExpandAll"
      [nzShowIcon]="nzShowIcon"
      [nzTreeTemplate]="treeTemplate"
      [@.disabled]="noAnimation?.nzNoAnimation"
      [nzNoAnimation]="noAnimation?.nzNoAnimation">
    </nz-tree-node>
  </ng-container>
</ul>