<div [ngClass]="classMap">
  <div role="tree">
    <input [ngStyle]="HIDDEN_STYLE" />
  </div>
  <div [ngClass]="classMapOfNodeList">
    <div>
      <div [ngClass]="classMapOfListContainer">
        <ng-container *ngFor="let node of nzFlattenNodes">
          <nz-tree-node
            [nzTreeNode]="node.data"
            [nzSelectMode]="nzSelectMode"
            [nzShowLine]="nzShowLine"
            [nzExpandedIcon]="nzExpandedIcon"
            [nzDraggable]="nzDraggable"
            [nzCheckable]="nzCheckable"
            [nzShowExpand]="nzShowExpand"
            [nzAsyncData]="nzAsyncData"
            [nzSearchValue]="nzSearchValue"
            [nzHideUnMatched]="nzHideUnMatched"
            [nzBeforeDrop]="nzBeforeDrop"
            [nzShowIcon]="nzShowIcon"
            [nzTreeTemplate]="treeTemplate"
            [@.disabled]="noAnimation?.nzNoAnimation"
            [nzNoAnimation]="noAnimation?.nzNoAnimation"
            (nzExpandChange)="eventTriggerChanged($event)"
            (nzClick)="eventTriggerChanged($event)"
            (nzDblClick)="eventTriggerChanged($event)"
            (nzContextMenu)="eventTriggerChanged($event)"
            (nzCheckBoxChange)="eventTriggerChanged($event)"
            (nzOnDragStart)="eventTriggerChanged($event)"
            (nzOnDragEnter)="eventTriggerChanged($event)"
            (nzOnDragOver)="eventTriggerChanged($event)"
            (nzOnDragLeave)="eventTriggerChanged($event)"
            (nzOnDragEnd)="eventTriggerChanged($event)"
            (nzOnDrop)="eventTriggerChanged($event)"
          >
          </nz-tree-node>
        </ng-container>
      </div>
    </div>
  </div>
</div>
