<div role="tab" [attr.aria-expanded]="nzActive" class="ant-collapse-header" (click)="clickHeader()">
  <div class="ant-collapse-arrow" *ngIf="nzShowArrow">
    <ng-container *ngIf="nzExpandedIcon;else defaultIcon">
      <ng-container *nzStringTemplateOutlet="nzExpandedIcon">
        <i nz-icon type="{{ nzExpandedIcon }}"></i>
      </ng-container>
    </ng-container>
    <ng-template #defaultIcon>
      <i nz-icon type="right" ></i>
    </ng-template>
  </div>
  <ng-container *nzStringTemplateOutlet="nzHeader">{{ nzHeader }}</ng-container>
</div>
<div class="ant-collapse-content"
  [class.ant-collapse-content-active]="nzActive"
  [@collapseState]="nzActive?'active':'inactive'">
  <div class="ant-collapse-content-box">
    <ng-content></ng-content>
  </div>
</div>