<div
  role="tab"
  [attr.aria-expanded]="nzActive"
  class="ant-collapse-header"
  (click)="clickHeader()">
  <i nz-icon type="right" class="arrow anticon-right" *ngIf="nzShowArrow"></i>
  <ng-container *ngIf="isHeaderString; else headerTemplate">{{ nzHeader }}</ng-container>
  <ng-template #headerTemplate>
    <ng-template [ngTemplateOutlet]="nzHeader"></ng-template>
  </ng-template>
</div>
<div
  class="ant-collapse-content"
  [class.ant-collapse-content-active]="nzActive"
  [@collapseState]="nzActive?'active':'inactive'">
  <div class="ant-collapse-content-box">
    <ng-content></ng-content>
  </div>
</div>