import { Component } from '@angular/core';

@Component({
  selector: '<%= prefix %>-root',
  standalone: false,
  templateUrl: './app.html',
  styleUrls: ['./app.<%= style %>']
})
export class AppComponent {
  isCollapsed = false;
}
