<span>
<div [ngClass]="_classMap">
<nz-basic-upload
    [accept]="nzAccept"
    [action]="nzAction"
    [customRequest]="nzCustomRequest"
    [data]="nzData"
    [disabled]="nzDisabled"
    [headers]="nzHeaders"
    [multiple]="nzMultiple"
    [withCredentials]="nzWithCredentials"
    [beforeUpload]="beforeUpload"
    (onStart)="handleStart($event)"
    (onProgress)="handleProgress($event)"
    (onSuccess)="handleSuccess($event)"
    (onError)="handleError($event)"
    #basicUpload
>
<ng-content></ng-content>
</nz-basic-upload>
</div>
<nz-upload-list
    *ngIf="nzShowUploadList"
    [onPreview]="nzOnPreview"
    (onRemove)="handleRemove($event)"
    [fileList]="nzFileList"
    [listType]="nzListType"
></nz-upload-list>
</span>
