<div [ngSwitch]="file.status">
    <nz-tooltip
        *ngSwitchCase="'error'"
        [nzTitle]="(file.error && file.error.statusText) || _locale.uploadError"
    >
        <nz-upload-list-item-icon
          [file]="file"
          [listType]="listType"
          nz-tooltip
        ></nz-upload-list-item-icon>
        <nz-upload-list-item-preview
            [file]="file"
            (onPreview)="onPreview.emit(file)"
        >
        </nz-upload-list-item-preview>

    </nz-tooltip>
    <span *ngSwitchDefault >
        <nz-upload-list-item-icon
          [file]="file"
          [listType]="listType"
        ></nz-upload-list-item-icon>
        <nz-upload-list-item-preview
            [file]="file"
            [listType]="listType"
            (onPreview)="onPreview.emit(file)"
        >
        </nz-upload-list-item-preview>
    </span>
</div>
