<div
  *ngIf="(listType === 'picture' || listType === 'picture-card'); else listTypeElseBlock"
>

  <div
    *ngIf="file.status === 'uploading' || (!file.thumbUrl && !file.url); else fileStatusElseBlock"
  >
    <div [ngSwitch]="listType">
      <div
        *ngSwitchCase="'picture-card'"
        [ngClass]="_prefixCls+'-list-item-uploading-text'"
      >
        {{_uploadingText}}
      </div>
      <i
        *ngSwitchDefault
        [ngClass]="_prefixCls+'-list-item-thumbnail'"
        class="anticon anticon-picture"
      ></i>
    </div>
  </div>
  <ng-template #fileStatusElseBlock>
    <a
      [ngClass]="_prefixCls+'-list-item-thumbnail'"
      (click)="onPreview.emit(file)"
      [href]="file.url || file.thumbUrl"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img [src]="file.thumbUrl || file.url" [alt]="file.name" />
    </a>
  </ng-template>

</div>

<ng-template #listTypeElseBlock>
  <div [ngSwitch]="file.status">
    <i *ngSwitchCase="'uploading'" class="anticon anticon-loading anticon-spin" nz-tooltip></i>
    <i *ngSwitchDefault class="anticon anticon-paper-clip" nz-tooltip></i>
  </div>
</ng-template>
