<span>
<div [ngClass]="_classMap">
<nz-basic-upload
    [accept]="accept"
    [action]="action"
    [customRequest]="customRequest"
    [data]="data"
    [disabled]="disabled"
    [headers]="headers"
    [multiple]="multiple"
    [withCredentials]="withCredentials"
    [beforeUpload]="beforeUpload"
    (onStart)="handleStart($event)"
    (onProgress)="handleProgress($event)"
    (onSuccess)="handleSuccess($event)"
    (onError)="handleError($event)"
    #basicUpload
>
<ng-content></ng-content>
</nz-basic-upload>
</div>
<nz-upload-list
    *ngIf="showUploadList"
    [onPreview]="onPreview"
    [fileList]="fileList"
    [listType]="listType"
></nz-upload-list>
</span>