<ul class="ant-timeline" [class.ant-timeline-pending]="nzPending">
  <ng-content></ng-content>
  <li *ngIf="nzPending" class="ant-timeline-item ant-timeline-item-pending">
    <div class="ant-timeline-item-tail"></div>
    <div class="ant-timeline-item-head ant-timeline-item-head-custom ant-timeline-item-head-blue">
      <i nz-icon type="spin anticon-loading"></i>
    </div>
    <div class="ant-timeline-item-content">
      <ng-container *ngIf="isPendingString; else pendingTemplate">{{ isPendingBoolean ? '' : nzPending }}</ng-container>
      <ng-template #pendingTemplate>
        <ng-template [ngTemplateOutlet]="nzPending"></ng-template>
      </ng-template>
    </div>
  </li>
</ul>