<li
  class="ant-timeline-item"
  [class.ant-timeline-item-right]="position === 'right'"
  [class.ant-timeline-item-left]="position === 'left'"
  [class.ant-timeline-item-last]="isLast"
  #liTemplate>
  <div class="ant-timeline-item-tail"></div>
  <div
    class="ant-timeline-item-head"
    [class.ant-timeline-item-head-red]="nzColor === 'red'"
    [class.ant-timeline-item-head-blue]="nzColor === 'blue'"
    [class.ant-timeline-item-head-green]="nzColor === 'green'"
    [class.ant-timeline-item-head-gray]="nzColor === 'gray'"
    [class.ant-timeline-item-head-custom]="!!nzDot">
    <ng-container *nzStringTemplateOutlet="nzDot">{{ nzDot }}</ng-container>
  </div>
  <div class="ant-timeline-item-content">
    <ng-content></ng-content>
  </div>
</li>
