.code-box-demo .ant-form-horizontal {
  max-width: 540px;
}

#components-form-demo-advanced .ant-form-horizontal {
  max-width: none;
}
#components-form-demo-advanced nz-datepicker{
  width: 100%;
}
/* 由于输入标签长度不确定，所以需要微调使之看上去居中 */
.ant-advanced-search-form > .ant-row {
  position: relative;
  left: -6px;
}

.ant-advanced-search-form .ant-btn + .ant-btn {
  margin-left: 8px;
}
