<span (cdkObserveContent)="checkContent()" #contentElement><ng-content></ng-content></span>
<span class="ant-badge-status-dot ant-badge-status-{{nzStatus}}" *ngIf="nzStatus" [ngStyle]="nzStyle"></span>
<span class="ant-badge-status-text" *ngIf="nzStatus">{{ nzText }}</span>
<sup class="ant-scroll-number"
  *ngIf="showSup"
  @zoomBadgeMotion
  [ngStyle]="nzStyle"
  [class.ant-badge-count]="!nzDot"
  [class.ant-badge-dot]="nzDot"
  [class.ant-badge-multiple-words]="countArray.length>=2">
  <ng-container *ngFor="let number of maxNumberArray;let i= index;">
    <span class="ant-scroll-number-only"
      *ngIf="nzCount <= nzOverflowCount"
      [style.transform]="'translateY('+((-countArray[i]*100))+'%)'">
        <ng-container *ngIf="(!nzDot)&&(countArray[i]!=null)">
          <p *ngFor="let p of countSingleArray" [class.current]="p==countArray[i]">{{ p }}</p>
        </ng-container>
    </span>
  </ng-container>
  <ng-container *ngIf="nzCount > nzOverflowCount">{{ nzOverflowCount }}+</ng-container>
</sup>