@import '../../style/themes/index';
@import '../../style/mixins/index';

@flex-prefix-cls: ~'@{ant-prefix}-flex';

div {
  background-color: red;
  height: 50px;
}

.@{flex-prefix-cls} {
  &-basic-wrapper {
    display: flex;

    &-horizontal {
      flex-direction: column;
    }

    &-vertical {
      flex-direction: column;
    }

    > div {
      flex: 1;
      block-size: 54px;

      &:nth-child(2n) {
        background-color: var(--ant-primary-5);
      }

      &:nth-child(2n + 1) {
        background-color: var(--ant-primary-6);
      }
    }
  }
}
