<article class="markdown">
  <h1> Icons <span class="subtitle"> </span> </h1>
  <section class="markdown">
    <nz-markdown [nzContent]="_markdownCode"></nz-markdown>
    <h3 id="Directional Icon"> <span> Directional Icon </span>
    </h3>
    <ul class="anticons-list clearfix icons">
      <li *ngFor="let direction of _icons.direction" nz-icon-copy>
        <i class="anticon" [ngClass]="'anticon-' + direction"> </i>
        <span class="anticon-class"> {{direction}} </span>
      </li>
    </ul>
    <h3 id="Suggest icon"> <span> Suggest icon </span>
    </h3>
    <ul class="anticons-list clearfix icons">
      <li *ngFor="let suggestion of _icons.suggestion" nz-icon-copy>
        <i class="anticon" [ngClass]="'anticon-' + suggestion"> </i>
        <span class="anticon-class"> {{suggestion}} </span>
      </li>
    </ul>
    <h3 id="Website Generic Icons"> <span> Website Generic Icons </span>
    </h3>
    <ul class="anticons-list clearfix icons">
      <li *ngFor="let other of _icons.other" nz-icon-copy>
        <i class="anticon" [ngClass]="'anticon-' + other" [class.anticon-spin]="other === 'loading'"> </i>
        <span class="anticon-class"> {{other}} </span>
      </li>
    </ul>
    <h3 id="Branding & logos"> <span> Branding & logos </span>
    </h3>
    <ul class="anticons-list clearfix icons">
      <li *ngFor="let logo of _icons.logo" nz-icon-copy>
        <i class="anticon" [ngClass]="'anticon-' + logo"> </i>
        <span class="anticon-class"> {{logo}} </span>
      </li>
    </ul>
  </section>
</article>


