@import '../../style/themes/index';
@import '../../style/mixins/index';
@import './mixin';

// Grid system
.@{row-prefix-cls} {
  display: flex;
  flex-flow: row wrap;
  min-width: 0;

  &::before,
  &::after {
    display: flex;
  }

  &-no-wrap {
    flex-wrap: nowrap;
  }

  // The origin of the X-axis
  &-start {
    justify-content: flex-start;
  }

  // The center of the X-axis
  &-center {
    justify-content: center;
  }

  // The opposite of the X-axis
  &-end {
    justify-content: flex-end;
  }

  &-space-between {
    justify-content: space-between;
  }

  &-space-around {
    justify-content: space-around;
  }

  &-space-evenly {
    justify-content: space-evenly;
  }

  // Align at the top
  &-top {
    align-items: flex-start;
  }

  // Align at the center
  &-middle {
    align-items: center;
  }

  // Align at the bottom
  &-bottom {
    align-items: flex-end;
  }
}

.@{col-prefix-cls} {
  position: relative;
  max-width: 100%;
  // Prevent columns from collapsing when empty
  min-height: 1px;
}

.make-grid();

// Extra small grid
//
// Columns, offsets, pushes, and pulls for extra small devices like
// smartphones.

.make-grid(-xs);

// Small grid
//
// Columns, offsets, pushes, and pulls for the small device range, from phones
// to tablets.

@media (min-width: @screen-sm-min) {
  .make-grid(-sm);
}

// Medium grid
//
// Columns, offsets, pushes, and pulls for the desktop device range.

@media (min-width: @screen-md-min) {
  .make-grid(-md);
}

// Large grid
//
// Columns, offsets, pushes, and pulls for the large desktop device range.

@media (min-width: @screen-lg-min) {
  .make-grid(-lg);
}

// Extra Large grid
//
// Columns, offsets, pushes, and pulls for the full hd device range.

@media (min-width: @screen-xl-min) {
  .make-grid(-xl);
}

// Extra Extra Large grid
//
// Columns, offsets, pushes, and pulls for the full hd device range.

@media (min-width: @screen-xxl-min) {
  .make-grid(-xxl);
}

@import './rtl';
