@import "./index";

.@{badge-prefix-cls} {

  &-count {
    position: absolute;
    transform: translateX(50%);
    right: 0;
  }
  &-dot {
    position: absolute;
    transform: translateX(50%);
    right: 0;

  }
}
