<div class="ant-input-number-handler-wrap">
  <span
    unselectable="unselectable"
    (mousedown)="up($event)"
    (mouseup)="stop()"
    (mouseleave)="stop()"
    class="ant-input-number-handler ant-input-number-handler-up"
    [class.ant-input-number-handler-up-disabled]="disabledUp">
    <i nz-icon type="up" class="ant-input-number-handler-up-inner"></i>
  </span>
  <span
    unselectable="unselectable"
    (mousedown)="down($event)"
    (mouseup)="stop()"
    (mouseleave)="stop()"
    class="ant-input-number-handler ant-input-number-handler-down"
    [class.ant-input-number-handler-down-disabled]="disabledDown">
    <i nz-icon type="down" class="ant-input-number-handler-down-inner"></i>
  </span>
</div>
<div class="ant-input-number-input-wrap">
  <input
    #inputElement
    class="ant-input-number-input"
    [disabled]="nzDisabled"
    [attr.min]="nzMin"
    [attr.max]="nzMax"
    [placeholder]="nzPlaceHolder"
    [attr.step]="nzStep"
    (keydown)="onKeyDown($event)"
    (keyup)="onKeyUp($event)"
    (blur)="onBlur($event)"
    (focus)="onFocus($event)"
    [ngModel]="displayValue"
    (ngModelChange)="onModelChange($event)"
    autocomplete="off">
</div>