.box-shadow-left() {
  .ant-table-th-right-sticky, .ant-table-td-right-sticky {
    box-shadow: -6px 0 6px 0px rgba(0, 0, 0, .05);
  }
}

.box-shadow-right() {
  .ant-table-th-left-sticky, .ant-table-td-left-sticky {
    box-shadow: 6px 0 6px 0px rgba(0, 0, 0, .05);
  }
}

.border-left() {
  .ant-table-th-right-sticky, .ant-table-td-right-sticky {
    border-right: @border-width-base @border-style-base @border-color-split;
  }
}

.border-right() {
  .ant-table-th-left-sticky, .ant-table-td-left-sticky {
    border-left: @border-width-base @border-style-base @border-color-split;
  }
}

.ant-table-th-left-sticky, .ant-table-th-right-sticky, .ant-table-td-right-sticky, .ant-table-td-left-sticky {
  position: sticky;
  z-index: 1;
}

.ant-table-td-left-sticky, .ant-table-td-right-sticky {
  background: @component-background;
}

.ant-table-scroll-position-middle {
  .box-shadow-right;
  .box-shadow-left;
}

.ant-table-scroll-position-left {
  .box-shadow-left;
}

.ant-table-scroll-position-right {
  .box-shadow-right;
}

.ant-table-bordered {
  &.ant-table-scroll-position-middle {
    .border-right;
    .border-left;
  }

  &.ant-table-scroll-position-left {
    .border-left;
  }

  &.ant-table-scroll-position-right {
    .border-right;
  }
}
