@import './themes/@{root-entry-name}.less';
@import '~@angular/cdk/overlay-prebuilt.css';

.cdk-visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  outline: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.nz-overlay-transparent-backdrop {

  &,
  &.cdk-overlay-backdrop-showing {
    opacity: 0;
  }
}

.nz-animate-disabled {

  // badge
  &.ant-scroll-number-only {
    animation: none;
    transition: none;
  }

  // drawer
  &.ant-drawer {
    &.ant-drawer-open .ant-drawer-mask {
      animation: none;
      transition: none;
    }

    &>* {
      transition: none;
    }
  }

  // modal
  .ant-modal-mask,
  .ant-modal {
    animation: none;
    transition: none;

    &.zoom-enter,
    &.zoom-leave,
    &.zoom-enter-active,
    &.zoom-leave-active {
      animation: none;
      transition: none;
    }
  }

  // menu
  &.ant-menu {
    transition: none;

    .ant-menu-item,
    .ant-menu-submenu-title {
      transition: none;
    }

    .ant-menu-item .anticon,
    .ant-menu-submenu-title .anticon {
      transition: none;

      &+span {
        transition: none;
      }
    }
  }

  // tabs
  &.ant-tabs {

    .ant-tabs-top-content.ant-tabs-content-animated,
    .ant-tabs-bottom-content.ant-tabs-content-animated,
    .ant-tabs-top-content>.ant-tabs-tabpane,
    .ant-tabs-bottom-content>.ant-tabs-tabpane,
    &.ant-tabs-left .ant-tabs-ink-bar-animated,
    &.ant-tabs-right .ant-tabs-ink-bar-animated,
    &.ant-tabs-top .ant-tabs-ink-bar-animated,
    &.ant-tabs-bottom .ant-tabs-ink-bar-animated {
      transition: none;
    }
  }

  // collapse
  &.ant-collapse>.ant-collapse-item>.ant-collapse-header .ant-collapse-arrow svg {
    transition: none;
  }
}
