[id^="components-tabs-demo-mix"] .ant-tabs-tabpane{
  position: relative;
  height: 100px;
  width: 100%;
  display: block;
}
[id^="components-tabs-demo-mix"] .ant-tabs-tabpane-hidden{
  display: none;
}

[id^="components-tabs-demo-mix"] .ant-tabs-bar{
  margin-bottom:0;
}
