<div class="ant-notification ant-notification-topLeft" [style.top]="top" [style.left]="'0px'">
  <nz-notification
    *ngFor="let message of topLeftMessages; let i = index"
    [nzMessage]="message"
  ></nz-notification>
</div>
<div class="ant-notification ant-notification-topRight" [style.top]="top" [style.right]="'0px'">
  <nz-notification
    *ngFor="let message of topRightMessages; let i = index"
    [nzMessage]="message"
  ></nz-notification>
</div>
<div
  class="ant-notification ant-notification-bottomLeft"
  [style.bottom]="bottom"
  [style.left]="'0px'"
>
  <nz-notification
    *ngFor="let message of bottomLeftMessages; let i = index"
    [nzMessage]="message"
  ></nz-notification>
</div>
<div
  class="ant-notification ant-notification-bottomRight"
  [style.bottom]="bottom"
  [style.right]="'0px'"
>
  <nz-notification
    *ngFor="let message of bottomRightMessages; let i = index"
    [nzMessage]="message"
  ></nz-notification>
</div>
