@import './index.less';

nz-select .@{select-prefix-cls} {
  width: 100%;
}

.@{select-prefix-cls}-dropdown {
  top: 100%;
  left: 0;
  position: relative;
  width: 100%;
  margin-top: 4px;
  margin-bottom: 4px;
  &.@{select-prefix-cls}-dropdown-placement-topLeft {
    top: -100%;
    transform: translateY(-100%) !important;
  }
  &-menu {
    &-item {
      line-height: 1.5;
    }
  }
}
