@import '../../style/themes/index';
@import '../../style/mixins/index';

@splitter-prefix-cls: ~'@{ant-prefix}-splitter';

.@{splitter-prefix-cls} {
  .reset-component();
  display: flex;
  align-items: stretch;

  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: @text-color;
  font-size: @font-size-base;
  font-family: @font-family;
  line-height: @line-height-base;
  list-style: none;

  &-horizontal {
    flex-direction: row;
  }

  &-vertical {
    flex-direction: column;
  }

  &-panel {
    box-sizing: border-box;
    padding: 0 1px;
    overflow: auto;
    scrollbar-width: thin;
  }

  &-bar {
    position: relative;
    flex: none;
    user-select: none;

    // ======================= Dragger =======================
    &-dragger {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 1;
      transform: translate(-50%, -50%);

      // Hover background
      &::before {
        position: absolute;
        top: 50%;
        left: 50%;
        background: @splitter-bar-bg;
        transform: translate(-50%, -50%);
        content: '';
      }

      // Hover
      &:hover:not(&-active) {
        &::before {
          background: @splitter-bar-hover-bg;
        }
      }

      // Spinner
      &::after {
        position: absolute;
        top: 50%;
        left: 50%;
        background: @fill-color;
        transform: translate(-50%, -50%);
        content: '';
      }

      // Active
      &-active {
        z-index: 2;

        &::before {
          background: @splitter-bar-active-bg;
        }
      }
    }
  }

  // Disabled
  & > &-bar > &-bar-dragger&-bar-dragger-disabled {
    z-index: 0;

    &, &:hover, &-active {
      cursor: default;

      &::before {
        background: @splitter-bar-bg;
      }
    }

    &::after {
      display: none;
    }
  }

  &-horizontal > &-bar {
    width: 0;
  }

  &-horizontal > &-bar &-bar-dragger {
    width: @splitter-split-trigger-size;
    height: 100%;
    cursor: col-resize;
  }

  &-horizontal > &-bar &-bar-dragger::before {
    width: @splitter-split-bar-size;
    height: 100%;
  }

  &-horizontal > &-bar &-bar-dragger::after {
    width: @splitter-split-bar-size;
    height: @splitter-split-bar-draggable-size;
  }

  &-vertical > &-bar {
    height: 0;
  }

  &-vertical > &-bar &-bar-dragger {
    width: 100%;
    height: @splitter-split-trigger-size;
    cursor: row-resize;

    &:has(&-disabled) {
      cursor: default;
    }
  }

  &-vertical > &-bar &-bar-dragger::before {
    width: 100%;
    height: @splitter-split-bar-size;
  }

  &-vertical > &-bar &-bar-dragger::after {
    width: @splitter-split-bar-draggable-size;
    height: @splitter-split-bar-size;
  }

  // ======================= Mask =======================
  // Util dom for handle cursor
  &-mask {
    position: fixed;
    z-index: 1000;
    inset: 0;

    &-horizontal {
      cursor: col-resize;
    }

    &-vertical {
      cursor: row-resize;
    }
  }
}

@import './rtl';
