<ng-content select="[nz-dropdown]"></ng-content>
<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayHasBackdrop]="hasBackdrop"
  [cdkConnectedOverlayPositions]="positions"
  [cdkConnectedOverlayOrigin]="nzOrigin"
  (backdropClick)="hide()"
  (detach)="hide()"
  [cdkConnectedOverlayMinWidth]="triggerWidth"
  (positionChange)="onPositionChange($event)"
  [cdkConnectedOverlayOpen]="nzVisible">
  <div
    class="{{'ant-dropdown ant-dropdown-placement-'+nzPlacement}}"
    [ngClass]="nzOverlayClassName" [ngStyle]="nzOverlayStyle"
    [@slideMotion]="dropDownPosition"
    (mouseenter)="onMouseEnterEvent()"
    (mouseleave)="onMouseLeaveEvent()"
    [style.minWidth.px]="triggerWidth">
    <div [class.ant-table-filter-dropdown]="hasFilterButton">
      <ng-content select="[nz-menu]"></ng-content>
      <ng-content select=".ant-table-filter-dropdown-btns"></ng-content>
    </div>
    <ng-content></ng-content>
  </div>
</ng-template>