<div cdkOverlayOrigin #origin="cdkOverlayOrigin" style="position: relative;top: -2px"></div>
<input type="text" [nzTime]="nzFormat" class="ant-time-picker-input" placeholder="Select time"
       [(ngModel)]="value" (click)="open()" #input>
<span class="ant-time-picker-icon"></span>

<ng-template cdkConnectedOverlay
             cdkConnectedOverlayHasBackdrop
             [cdkConnectedOverlayOrigin]="origin"
             [cdkConnectedOverlayOpen]="opened"
             (backdropClick)="close()">
  <nz-time-picker-panel [format]="nzFormat" [nzHourStep]="nzHourStep" [nzMinuteStep]="nzMinuteStep"
                        [nzSecondStep]="nzSecondStep" (timeClear)="close();" [(ngModel)]="value">
    <ng-content></ng-content>
  </nz-time-picker-panel>
</ng-template>

