<div
  cdkOverlayOrigin
  #origin="cdkOverlayOrigin"
  [class.ant-dropdown-menu-submenu-title]="nzMenuService.isInDropDown"
  [class.ant-menu-submenu-title]="!nzMenuService.isInDropDown"
  (mouseenter)="setMouseEnterState(true)"
  (mouseleave)="setMouseEnterState(false)"
  (click)="clickSubMenuTitle()"
  [style.paddingLeft.px]="nzMenuService.mode === 'inline'? nzSubmenuService.level * nzMenuService.inlineIndent : null">
  <ng-content select="[title]"></ng-content>
  <span *ngIf="nzMenuService.isInDropDown; else notDropdownTpl" class="ant-dropdown-menu-submenu-arrow">
    <i nz-icon type="right" class="anticon-right ant-dropdown-menu-submenu-arrow-icon"></i>
  </span>
  <ng-template #notDropdownTpl>
    <i class="ant-menu-submenu-arrow"></i>
  </ng-template>
</div>
<ul *ngIf="nzMenuService.mode === 'inline'"
  [class.ant-dropdown-menu]="nzMenuService.isInDropDown"
  [@collapseMotion]="expandState"
  [class.ant-menu]="!nzMenuService.isInDropDown"
  [class.ant-dropdown-menu-vertical]="nzMenuService.isInDropDown"
  [class.ant-menu-inline]="!nzMenuService.isInDropDown"
  [class.ant-dropdown-menu-sub]="nzMenuService.isInDropDown"
  [class.ant-menu-sub]="!nzMenuService.isInDropDown"
  (mouseleave)="setMouseEnterState(false)"
  (mouseenter)="setMouseEnterState(true)">
  <ng-template [ngTemplateOutlet]="subMenuTemplate"></ng-template>
</ul>
<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayPositions]="overlayPositions"
  [cdkConnectedOverlayOrigin]="origin"
  [cdkConnectedOverlayWidth]="triggerWidth"
  (positionChange)="onPositionChange($event)"
  [cdkConnectedOverlayOpen]="nzOpen && nzMenuService.mode !== 'inline'">
  <div class="ant-menu-submenu ant-menu-submenu-popup"
    [class.ant-menu-light]="nzMenuService.theme === 'light'"
    [class.ant-menu-dark]="nzMenuService.theme === 'dark'"
    [class.ant-menu-submenu-placement-bottomLeft]="nzSubmenuService.mode === 'horizontal'"
    [class.ant-menu-submenu-placement-rightTop]="nzSubmenuService.mode === 'vertical' && placement === 'rightTop'"
    [class.ant-menu-submenu-placement-leftTop]="nzSubmenuService.mode === 'vertical' && placement === 'leftTop'"
    [@slideMotion]="expandState"
    [@zoomBigMotion]="expandState"
    (mouseleave)="setMouseEnterState(false)"
    (mouseenter)="setMouseEnterState(true)">
    <ul
      [class.ant-dropdown-menu]="nzMenuService.isInDropDown"
      [class.ant-menu]="!nzMenuService.isInDropDown"
      [class.ant-dropdown-menu-vertical]="nzMenuService.isInDropDown"
      [class.ant-menu-vertical]="!nzMenuService.isInDropDown"
      [class.ant-dropdown-menu-sub]="nzMenuService.isInDropDown"
      [class.ant-menu-sub]="!nzMenuService.isInDropDown">
      <ng-template [ngTemplateOutlet]="subMenuTemplate"></ng-template>
    </ul>
  </div>
</ng-template>
<ng-template #subMenuTemplate>
  <ng-content></ng-content>
</ng-template>