@import (reference) '../../style/themes/index';

@tree-select-prefix-cls: ~'@{ant-prefix}-tree-select';
@tree-select-selector-cls: ~'@{ant-prefix}-tree-ant-select-selector';

.@{tree-select-selector-cls} {

    // ======================== Warning ========================
    &-has-warning {
        // Select
        .@{ant-prefix}-select:not(.@{ant-prefix}-select-disabled):not(.@{ant-prefix}-select-customize-input) {
            .@{ant-prefix}-select-selector {
                background-color: @form-warning-input-bg;
                border-color: @warning-color  !important;
            }

            &.@{ant-prefix}-select-open .@{ant-prefix}-select-selector,
            &.@{ant-prefix}-select-focused .@{ant-prefix}-select-selector {
                .active(@warning-color, @warning-color-hover, @warning-color-outline);
            }
        }
    }

    // ========================= Error =========================
    &-has-error {
        // Select
        .@{ant-prefix}-select:not(.@{ant-prefix}-select-disabled):not(.@{ant-prefix}-select-customize-input) {
            .@{ant-prefix}-select-selector {
                background-color: @form-error-input-bg;
                border-color: @error-color  !important;
            }

            &.@{ant-prefix}-select-open .@{ant-prefix}-select-selector,
            &.@{ant-prefix}-select-focused .@{ant-prefix}-select-selector {
                .active(@error-color, @error-color-hover, @error-color-outline);
            }
        }
        .@{ant-prefix}-select.@{ant-prefix}-select-auto-complete {
            .@{ant-prefix}-input:focus {
                border-color: @error-color;
            }
        }

    }

}